@import "../../../styles/__variables.scss";

.carusel{
    width: $container;
    padding: 40px 100px;
    border-top-left-radius: 40px;
}
.carusel__imgWrapper{
    border-top-left-radius: 40px;
}
.carusel__img{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}